.logo-and{
    font-size: 61%;
    color: #fff;
}
.logo-bforbusiness {
    font-size: inherit;     color: inherit;     margin-left: 1px;     /* font-size: 50%; */ 
}
.logo-v1{margin-left: -6px;     font-size: 80%; }
