.main.main-builder #widget-area{ position: relative;}
.stuck {
    overflow: hidden;
    height: 100vh;
    display: block;
    clear: both;
    position: relative;
}

.stuck .sticky {
    width: 100%;
    position: relative;
    left: 0;
    z-index: 0;
    -webkit-transition: left;
    -moz-transition: left;
    -o-transition: left;
    transition: left;
    -webkit-transition-duration: 375ms;
    -moz-transition-duration: 375ms;
    -o-transition-duration: 375ms;
    transition-duration: 375ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    position: fixed;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
}