.main-sidebar form.form-inline.st-search-form {
    position: relative;
}
.main-sidebar #searchsubmit{position: absolute;right: 3px;border-radius: 0 4px 4px 0; right: 0;}
.main-sidebar .form-inline .form-control{    
    margin-top: 0!important;
    margin-bottom: 0!important;
    right: 0px;
    display: block;
    margin-right: 0px !important;
}
