/*
Basic STYLE
*/

body{overflow-x:hidden;}
h1, .h1, h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-weight:normal;letter-spacing:0.02em;margin:0 0 0px;color:#000; line-height: 150%; padding-bottom: 10px;}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a { color:inherit; text-decoration:none; }
h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover { text-decoration:none;}
h1, .h1 { font-size:200%;}
h2, .h2 { font-size:180%;}
h3, .h3 { font-size:160%;}
h4, .h4 { font-size:150%;}
h5, .h5 { font-size:140%;}
h6, .h6 { font-size:130%;}
p, .post_content, .post_content p {font-size:15px;line-height:24px;font-weight:normal;margin-bottom:20px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
.post_content{ margin-bottom: 0px;}
a,a:hover,a:focus {outline:none !important;text-decoration:none;}
.post_content iframe{ max-width: 100%; max-height:380px}
a {color:inherit;text-decoration: none;}
a:hover,a:focus {
    color:inherit;
    text-decoration: none;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: #000;
    }
a:focus,.btn:focus {outline: none;}







/*
Content STYLE
*/

section.content {
    padding-top: 30px;
}

