/*
Basic STYLE
*/

body{overflow-x:hidden;}
h1, .h1, h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-weight:normal;letter-spacing:0.02em;margin:0 0 0px;color:#000; line-height: 100%; padding-bottom: 10px;}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a { color:inherit; text-decoration:none; }
h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover { text-decoration:none;}
h1, .h1 { font-size:200%;}
h2, .h2 { font-size:180%;}
h3, .h3 { font-size:160%;}
h4, .h4 { font-size:150%;}
h5, .h5 { font-size:140%;}
h6, .h6 { font-size:130%;}
p, .post_content, .post_content p{margin-bottom:20px;}
p, .post_content, .post_content p, ul, ul li, span{font-size:15px;line-height:24px;font-weight:normal; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
.post_content{ margin-bottom: 0px;}
a,a:hover,a:focus {outline:none !important;text-decoration:none;}
.post_content iframe{ max-width: 100%; max-height:380px}
a {color:inherit;text-decoration: none;}
a:hover,a:focus {
    color:inherit;
    text-decoration: none;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: #000;
    }
a:focus,.btn:focus {outline: none;}

body img, img { max-width: 100%;}


/*
Hover effect
*/

a, a i, a i:hover, a:hover, button, input[type="submit"] {
    transition: .5s;
}


.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}


/*
Content STYLE
*/

section.content {
    padding-top: 30px;
    background: #FFF;
}
body.page-template section.content{ padding-top: 0px;}

body.page-template section.content > .container-full >.row {
    margin-left:  0;
    margin-right:  0;
}

.main.main-builder{display: block; width: 100%;}


/*
 * Customizer additional styles
*/
body.st-customizer-enable article.col{ padding-left: 0px; padding-right: 0px;}
